.monthly-status-preview {
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gauges-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 1rem;
}

.button-container {
  margin-top: 1rem;
  text-align: center;
}
