.back-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.4rem;

  font-weight: 400;
  font-size: 1rem;
  border: none;
  background: none;
  cursor: pointer;

  margin-left: auto;
  margin-bottom: 1rem;
  color: var(--main-purple);
}

.arrow {
  font-size: 1rem;
  line-height: 1;
}
