.st-main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
}

.filter-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
}

.bar-chart-container {
    width: calc(100vw - 50px);
    height: 500px;
}

.selected-month {
  display: flex;
  justify-content: center;
}


.chart-gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
}

.chart-gallery__item {
  display: flex;
  justify-content: center;
  min-width: calc(50% - 50px);
  height: 500px;
}

.chart-gallery__item--table {
  height: auto;
}